*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    width: 100%;
}

/*------------------Contenido Contacto------------------*/
header{
    background-image: url("../img/headerblue.png");
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: xxx-large;
    color: white;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
    margin-top: 80px;
}

.contenedorPrincipal{
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
    grid-template-areas: "colum-form colum-info";
}

.colum-form{
    height: 500px;
    background-color: white;
    padding: 5%;
}

.colum-info{
    background-color: midnightblue;
    display: grid;
    grid-template-rows: 20% auto 20%;
    padding: 7%;
}

.formulario{
    background-color: #EFEFEF;
    border-radius: 3px;
    box-shadow: 2px 5px 10px darkgray;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contenedor-form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 20% 20% auto 20%;
    height: 90%;
    width: 95%;
    grid-template-areas: "titulo-form titulo-form"
                         "input1 input2"
                         "input3 input4"
                         "input5 input5"
                         "boton-form boton-form";
}

.titulo-form{
    grid-area: titulo-form;
}

.input1{
    grid-area: input1;
}

.input2{
    grid-area: input2;
}

.input3{
    grid-area: input3;
}

.input4{
    grid-area: input4;
}

.input5{
    grid-area: input5;
}

.boton-form{
    grid-area: boton-form;
    align-items: center;
    display: flex;
    justify-content: center;
}

input,textarea{
    outline: none;
}

input[type=text]{
    padding: 10px;
    width: 90%;
    border-radius: 3px;
    border: solid 1px midnightblue;
}

input[type=text]:hover{
    border: solid 3px #567ba8;
}

input[type=text]:focus{
    background-color: #f6f6fc;
}

input[type=submit]{
    border-radius: 3px;
    display: inline-block;
    font-size: 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #2b6cbb;
    color: white;
    border: none;
    width: 80%;
}

input[type=submit]:hover{
    background-color: #649de7;
    color: white;
}

input[type=submit]:active{
    background-color: #002855;
    color: white;
}


textarea{
    resize: none;
    height: 90%;
    width: 98%;
    border-radius: 3px;
    border: solid 1px midnightblue;
}

textarea:hover{
    border: solid 3px #567ba8;
}

textarea:focus{
    background-color: #f6f6fc;
}

a>i,p>i{
    color: white;
    font-size: 150%;
}

a,p{
    text-decoration: none;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
}


hr{
    color: gray;
    width: 100%;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    opacity: 50%;
}

.print{
    display: none;
}

@media screen and (min-width: 766px) and (max-width: 1050px){
    .contenedor-form{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 10% 10% 10% auto 10% 15%;
        row-gap: 4%;
        height: 90%;
        width: 95%;
        grid-template-areas: "titulo-form"
                         "input1"
                         "input2"
                         "input3"
                         "input4"
                         "input5"
                         "boton-form";
    }
}

@media screen and (max-width: 765px){
    .contenedor-form{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 10% 10% 10% auto 10% 15%;
        row-gap: 4%;
        height: 90%;
        width: 95%;
        grid-template-areas: "titulo-form"
                         "input1"
                         "input2"
                         "input3"
                         "input4"
                         "input5"
                         "boton-form";
    }
}

@media screen and (max-width: 700px){
    .contenedorPrincipal{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "colum-form"
                              "colum-info";
        font-size: smaller;
    }

    .colum-info{
        background-color: midnightblue;
        height: 90%;
        display: grid;
        grid-template-rows: 10% auto 20%;
        padding: 6%;

    }

    header{
        font-size: xx-large;
    }
}

@media screen and (min-width: 545px) and (max-width: 700px){

    .colum-info{
        background-color: midnightblue;
        height: 95%;
        display: grid;
        grid-template-rows: 10% auto 20%;
        padding: 3%;
    }

    header{
       font-size: xx-large;
    }
}

@media screen and (max-width: 807px){
    header{
        margin-top: 60px;
    }
}

@media print{
    header{
        display: none;
    }

    .print{
        display: block;
        color: black;
        font-weight: bold;
        font-size: 20pt;
    }

    .colum-form{
        display: none;
    }

    .redes{
        display: none;
    }
}