body{
    padding: 0;
    margin: 0;
}

.header{
    background-color:#273f63;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.regresar{
    text-decoration: none;
    font-size: 20pt;
    color: white;
    align-items: center;
    display: flex;
    margin-left: 30px;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 10%;
}

.logo img{
    width: 100%;
}

.headTxt{
    padding: 3% 0;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 30px;
    font-weight: bold;
}

.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.content{
    padding: 5%;
}

.form{
    background-color: #e3f2fd;
    border: 1px #0d47a1 solid;
    border-radius: 8px;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #0d47a1;
    text-align: center;
}

input{
    border-bottom: 2px #0d47a1 solid;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: #e3f2fd;
}

#guardar{
    background-color: #0d47a1;
    color: white;
    padding: 1%;
    border-radius: 15px;
    border: none;
}

#descargarArchivo{
    background-color: #0d47a1;
    color: white;
    padding: 1%;
    border-radius: 15px;
    border: none;
}

#guardarArchivo{
    background-color: #0d47a1;
    color: white;
    padding: 1%;
    border-radius: 15px;
    border: none;
}

#guardar:hover{
    background-color: #A9D6E5;
    border: none;
}

label{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 18px;
    margin-left: 40%;
}

.check{
    width: 18px;
    height: 18px;
}

.checkConte{
    text-align: left;
}

#registrosInventario{
    border: #0d47a1 solid;
    border-radius: 10px;
    width: 50px;
    height: 25px;
}

#estadoMemoria{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

#estado {
    background-color: #EEE;
    color: black;
    margin-bottom: 4px;
    padding: 4px;
    align-items:center;
    justify-content: center;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
}

#estado > img{
    height: 25px;
    width: 25px;
}

#inforAsistencias{
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

table{
    margin-top: 50px;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

th{
    background-color: #273f63;
    color: white;
}

td{
    background-color: #bedaff;
}

td,th{
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

@media screen and (max-width: 1200px) {
    .logo{
        width: 15%;
    }

    .headTxt{
        padding: 5% 0;
    }
}

@media screen and (max-width:900px) {
    .logo{
        width: 20%;
    }

    .headTxt{
        padding: 7% 0;
    }
}

@media screen and (max-width: 650px) {
    .logo{
        width: 25%;
    }

    .headTxt{
        padding: 9% 0;
    }
}

@media screen and (max-width: 500px) {
    .logo{
        width: 30%;
    }

    .headTxt{
        padding: 11% 0;
    }
}

@media screen and (max-width: 520px) {
    td,th{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 410px) {
    label{
        margin-left: 20%;
    }
}

@media screen and (max-width: 400px) {
    td,th{
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    table{
        font-size: 10pt;
    }
}

@media print{
    body{
        display: none;
    }
}