body{
    padding: 0;
    margin: 0;
}

.header{
    background-color:#273f63;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.logo{
    width: 10%;
}

.logo img{
    width: 100%;
}

.headTxt{
    padding: 3% 0;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 30px;
    font-weight: bold;
}

.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.content{
    padding: 5%;
}

.form{
    background-color: #e3f2fd;
    border: 1px #0d47a1 solid;
    border-radius: 8px;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #0d47a1;
    text-align: center;
}

input{
    border-bottom: 2px #0d47a1 solid;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: #e3f2fd;
}

#guardar{
    background-color: #0d47a1;
    color: white;
    padding: 1%;
    border-radius: 15px;
    border: none;
}

#guardar:hover{
    background-color: #A9D6E5;
    border: none;
}

label{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 18px;
    margin-left: 40%;
}

.check{
    width: 18px;
    height: 18px;
}

.checkConte{
    text-align: left;
}

@media screen and (max-width: 1200px) {
    .logo{
        width: 15%;
    }

    .headTxt{
        padding: 5% 0;
    }
}

@media screen and (max-width:900px) {
    .logo{
        width: 20%;
    }

    .headTxt{
        padding: 7% 0;
    }
}

@media screen and (max-width: 650px) {
    .logo{
        width: 25%;
    }

    .headTxt{
        padding: 9% 0;
    }
}

@media screen and (max-width: 500px) {
    .logo{
        width: 30%;
    }

    .headTxt{
        padding: 11% 0;
    }
}

@media screen and (max-width: 410px) {
    label{
        margin-left: 20%;
    }
}

@media print{
    body{
        display: none;
    }
}