*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
/*https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_website2*/

/*------------------Barra navegacion------------------*/

.barraNavegacion{
    display: flex;
    justify-content: space-between;
    background-color: #273f63;
    height: 80px;
    align-items: center;
}

.barraNavegacion a{
    color: white;
    text-decoration: none;
    display: inline-block;
}

.logoIglesia{
    font-size: 17pt;
    font-weight: bold;
    padding: 0 40px;

}

.listaMenu{
    margin-right: 40px;
    display: flex;
}

.menuIteam:hover, .resaltable{
    background-color: #A9D6E5;
    transition: 0.5s;
}

.menuIteam{
    padding: 8px 12px;
}

.botonBarra{
    color: white;
    background: none;
    border: none;
    font-size: 17pt;
    display: none;
}

/*------------------Contenido Grupos------------------*/


header{
    background-image: url("../img/header-grupos.png");
    width: 100%;
    height: 220px;
}

.contenedor-gal{
    width: 100%;
    height: 600px;
    display: grid;
    align-items: center;
    justify-content: center;
    column-gap: 15%;
    row-gap: 0;
    background-color: #33415c;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50% 50%;
}

.img-menu{
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.img-menu:hover {
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

.contenedor-grupos{
    display: grid;
    grid-template-columns: 40% 60%;
}

.bg-decoration{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background: #4188aa;
    --mask:
            linear-gradient(to left,#0000 42px,#000 0),
            radial-gradient(42px,#000 98%,#0000) right/84px 77.70px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.contenido-grupos{
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 3%;
}

hr{
    width: 60%;
    margin-left: 25%;
    margin-right: 25%;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: #0d47a1;
}

h2{
    color: #0d47a1;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

p{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-align: center;
}

/*------------------Pie de página------------------*/

.piePagina{
    background-color: #273f63;
    display: grid;
    grid-template-columns: 10% 30% 30%;
    justify-content: space-evenly;
    align-content: center;
}

#imgLogo{
    width: 100%;
}

.borderEsp{
    border-left: 2px white dotted;
    padding: 7% 0;
}

.pieSubt{
    color: white;
    font-weight: bold;
    margin: 2%;
    text-align: center;
}

.direcciones{
    list-style-type: disc;
}

.direcciones li{
    color: white;
}

.navPie{
    list-style-type: none;
}

.pieLista{
    color: white;
    text-decoration: none;
}

.pieLista:hover{
    text-decoration: underline;
}

.gap{
    height: 10%;
    grid-column: 1/4;
    color:#273f63;
    margin: 0.5%;
}

@media screen and (max-width: 870px){
    .piePagina{
        grid-template-columns: 20% 35% 35%;
    }
}

@media screen and (max-width: 765px){
    body{
        background-color: white;
    }

    .barraNavegacion{
        height: 60px;
    }

    .barraNavegacion a{
        color: white;
        text-decoration: none;
        display: inline-block;
    }

    .logoIglesia{
        font-size: 12pt;
    }

    /*Aquí para acomodar el menu*/
    .listaMenu{
        flex-direction: column;
        background-color: #0d47a1;
        position: fixed;
        left: 0;
        top: 59px;
        width: 100%;

        left: 100%;
        transition: left 0.3s;
    }

    .menuIteam:hover{
        background-color: #A9D6E5;
        color: black;
    }

    .botonBarra{
        display: block;
    }

    .menuDesplegable{
        left: 0;
    }

    .contenedor-gal{
        width: 100%;
        height: 600px;
        display: grid;
        align-items: center;
        justify-content: center;
        column-gap: 15%;
        row-gap: 0;
        background-color: #33415c;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    .contenedor-grupos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12,1fr);
    }
}

@media screen and (max-width: 545px){
    .piePagina{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #imgLogo{
        width: 50%;
        padding-left: 25%;
    }

    .gap{
        display: none;
    }

    .borderEsp{
        border-left: none;
        border-top: 2px white dotted;
        margin: 0 5%;
        padding-left: 10%;
    }

    .navPie{
        padding-left: 25%;
    }
}

@media screen and (min-width: 321px) and (max-width: 364px){
    .borderEsp{
        padding:2% 6%;
    }
}

@media screen and (max-width: 321px){
    .borderEsp{
        padding: 3% 3%;
    }
}