/*https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_website2*/
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

h2{
    margin-top: 10px;
}

/*------------------Barra navegacion------------------*/

.barraNavegacion{
    display: flex;
    justify-content: space-between;
    background-color: #273f63;
    height: 80px;
    width: 100%;
    align-items: center;
    position: fixed;
    top:0;
}

#primerDivConLogo{
    align-items: center;
    display: flex;
    white-space: nowrap;
}

.barraNavegacion a{
    color: white;
    display: inline-block;
}

.barraNavegacion > div{
    align-items: center;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}

.logoIglesiaMenu{
    font-size: 17pt;
    font-weight: bold;
    padding: 0 40px;
}

.listaMenu{
    margin-right: 40px;
    display: flex;
}

.menuIteam:hover, .resaltable{
    background-color: #0d47a1;
    transition: 0.5s;
}

.menuIteam{
    padding: 8px 12px;
}

.botonBarra{
    color: white;
    background: none;
    border: none;
    font-size: 17pt;
    display: none;
}

/*------------------Pie de pagina-----------------------*/
.piePagina{
    height: 500px;
    background-color: #e3f2fd;
}

/*------------------ContenidoPrincipal------------------*/
#contenedorPrincipalInformacion{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    background-color: white;
}

#imagenPrincipalIndex{
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}

.segundoContenedorIndex{
    background-color: #33415c;
    text-align: center;
    width: 100%;
}

.segundoContenedorIndex h2{
    color: white;
}

#MVI{
    width: 350px;
    height: 166px;
}

#tercerContenedorIndex{
    background-color: #bbdefb;
    display: flex;
    flex-direction: column;
}

.contenedoresTerciariosIndex{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 13pt;
    color: white;
}

.imagenesTercerContenedor{
    margin: 10px 40px;
    height: 250px;
    width: 850px;
}

.textoTercerContenedor{
    margin: 10px 40px;
    width: 850px;
    background-color: #273f63;
    text-align: center;
}

#cuardoContenedorIndex{
    background-color: #273f63;
}

.logoIglesia{
    width: 100px;
    height: 100px;
}

#tituloPrincipalCuartoContenedor{
    width: 100%;
    margin: 0 0 25px;
    border-bottom: solid white;
}

#mapa{
    width:350px; height:200px;
}

#quintoContenedor{
    background-color: white;
}

#aux{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.cuadrosOpcionesQuintoContenedor{
    width: 250px;
    height: 400px;
    background-color: #0d47a1;
    margin: 25px 40px;
    font-size: 13pt;
    color: white;

    text-align: center;
    align-items: center;
}

/*divs que están dentro de cuadrosOpcionesQuintoContenedor */
.recuadrosOpcionesQuintoContenedor{
    background-color: #002855;
    font-size: 18pt;
    color: white;
    width: 200px;
    height: 150px;
    margin: 40px 25px 100px 25px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.botonQuintoContenedor{
    width: 200px;
    background-color: #e3f2fd;
    color: #737373;
    border-radius: 10px;
    height: 30px;
}

.contenedoresSecundariosIndex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contenedoresSecundariosIndex div{
    margin: 10px 40px;
    font-size: 13pt;
    color: white;
}

.textoJustificadoDiv{
    text-align: justify;
}
/*-----------------Sobre nosotros--------------------------*/
#contenedorPrincipalSobreNosotros{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    background-color: white;
}

#primerContenedorSobNos{
    background-repeat: repeat;
    height: 350px;
    width: 100%;
    background-image: url("../img/color.jpg");
    text-align: center;
    padding: 125px 40px;
    box-sizing: border-box;
    font-size: 18pt;
    font-weight: bold;
}

.contenedorTexto{
    font-size: 12pt;
    color: white;
    margin: 10px 0;
    text-align: justify;
    padding: 0 20px;
}

.titulos{
    width: 50%;
    margin-left: 25%;
    border-bottom: solid white;
}

/*-----------------Configuraciones para pantallas----------*/
/*-----------------Barra de navegacion---------------------*/
/*Cambio cuando sea menos de 802*/
@media screen and (max-width: 807px){
    body{
        background-color: white;
    }

    #contenedorPrincipalInformacion, #contenedorPrincipalSobreNosotros{
        margin-top: 60px;
    }
    
    .barraNavegacion{
        height: 60px;
    }
    
    .barraNavegacion a{
        color: white;
        text-decoration: none;
        display: inline-block;
    }
    
    .logoIglesia{
        font-size: 12pt;
    }
    
    /*Aquí para acomodar el menu*/
    .listaMenu{
        flex-direction: column;
        background-color: #0d47a1;
        position: fixed;
        left: 0;
        top: 59px;
        width: 100%;
        
        left: 100%;
        transition: left 0.3s;
    }
    
    .menuIteam:hover{
        background-color: #A9D6E5;
        color: black;
    }

    .botonBarra{
        display: block;
    }

    .menuDesplegable{
        left: 0;
    }

    li{
        display: block;
        width: 100%;
    }

    ul{
        padding: 0;
    }

    .barraNavegacion a{
        width: 100%;
    }    
}

/*---------------------Index-------------------------*/
/*Cambio cuando sea menos de 802*/
@media screen and (max-width: 870px){
    .contenedoresSecundariosIndex{
        flex-direction: column;
    }

    .imagenesTercerContenedor{
        height: 250px;
        width: 350px;
    }

    #tercerContenedorIndex{
        flex-direction: row;
    }

    .textoTercerContenedor{
        margin: 0;
        width: auto;
    }

    .contenedoresSecundariosIndex div{
        margin: 10px 15px;
    }

    .contenedoresTerciariosIndex{
        flex-direction: column;
        margin: 10px 5px;
    }

}

@media screen and (max-width: 545px){
    .imagenesTercerContenedor{
        height: 150px;
        width: 250px;
        margin: 10px 15px;
    }

    .contenedoresTerciariosIndex{
        font-size: 12pt;
    }
}

@media screen and (max-width: 417px){
    .contenedoresTerciariosIndex{
        font-size: 11pt;
    }
}

@media screen and (max-width: 321px){
    #MVI{
        width: 250px;
        height: 100px;
    }

    .imagenesTercerContenedor{
        height: 100px;
        width: 150px;
        margin: 10px 15px;
    }

    .logoIglesiaMenu{
        font-size: 17pt;
        font-weight: bold;
        padding: 0 5px;
    }

    #mapa{
        width:300px; height:200px;
    }
}

/*De 481 hasta 775*/
@media screen and (min-width: 806px) and (max-width: 927px){
    .cuadrosOpcionesQuintoContenedor{
        width: 250px;
        height: 400px;
        margin: 25px 10px;
    }
    
    /*divs que están dentro de cuadrosOpcionesQuintoContenedor */
    .recuadrosOpcionesQuintoContenedor{
        font-size: 18pt;
        width: 200px;
        height: 150px;
        margin: 40px 25px 100px 25px;
    }
    
    .botonQuintoContenedor{
        width: 200px;
        height: 30px;
    }
}

@media screen and (min-width: 585px) and (max-width: 807px){
    
    .cuadrosOpcionesQuintoContenedor{
        width: 180px;
        height: 400px;
        margin: 25px 5px;
    }
    
    /*divs que están dentro de cuadrosOpcionesQuintoContenedor */
    .recuadrosOpcionesQuintoContenedor{
        font-size: 15pt;
        width: 140px;
        height: 150px;
        margin: 40px 25px 100px 25px;
    }
    
    .botonQuintoContenedor{
        width: 140px;
        height: 30px;
    }
}

@media screen and (max-width: 585px){
    #aux{
        flex-direction: column;
        align-items: center;
    }
}

