*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/*https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_website2*/

/*------------------Barra navegacion------------------*/

.barraNavegacion{
    display: flex;
    justify-content: space-between;
    background-color: #273f63;
    height: 80px;
    align-items: center;
}

.barraNavegacion a{
    color: white;
    text-decoration: none;
    display: inline-block;
}

.logoIglesia{
    font-size: 17pt;
    font-weight: bold;
    padding: 0 40px;

}

.listaMenu{
    margin-right: 40px;
    display: flex;
}

.menuIteam:hover, .resaltable{
    background-color: #A9D6E5;
    transition: 0.5s;
}

.menuIteam{
    padding: 8px 12px;
}

.botonBarra{
    color: white;
    background: none;
    border: none;
    font-size: 17pt;
    display: none;
}

/*------------------Contenido Inicio Sesion------------------*/
.contenedorPrincipal{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 100%;
    background-color: #A9D6E5;
}

#logoInicio{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#formularioInicio{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10% 5% 10% 10%;
}

.formulario{
    font-size: 20px;
    padding: 10%;
    background-color: #efefef;
    width: 60%;
    height: 80%;
    border-radius: 5px;
}

input{
    outline: none;
}
.campoTexto{
    padding: 10px;
    width: 90%;
    border-radius: 3px;
    border: solid 1px midnightblue;
}
.campoTexto:focus{
    border: solid 3px #567ba8;
}

.btn{
    border-radius: 3px;
    display: inline-block;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #002855;
    color: white;
    border: none;
    width: 80%;
}

.btn:hover{
    background-color: #0a3f7a;
    color: white;
}

.btn:active{
    background-color: #2b6cbb;
    color: white;
}

p.alinear{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #002855;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: #2b6cbb;
}

@media screen and (max-width: 765px){
    body{
        background-color: red;
    }

    .barraNavegacion{
        height: 60px;
    }

    .barraNavegacion a{
        color: white;
        text-decoration: none;
        display: inline-block;
    }

    .logoIglesia{
        font-size: 12pt;
    }

    /*Aquí para acomodar el menu*/
    .listaMenu{
        flex-direction: column;
        background-color: #0d47a1;
        position: fixed;
        left: 0;
        top: 59px;
        width: 100%;

        left: 100%;
        transition: left 0.3s;
    }

    .menuIteam:hover{
        background-color: #A9D6E5;
        color: black;
    }

    .botonBarra{
        display: block;
    }

    .menuDesplegable{
        left: 0;
    }
}