*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/*------------------Contenido Inicio Sesion------------------*/
.contenedorPrincipal{
    display: grid;
    margin-top: 100px;
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 100%;
    background-color: #A9D6E5;
}

#logoInicio{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#formularioInicio{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 5% 10% 10%;
}

.formulario{
    font-size: 20px;
    padding: 10%;
    background-color: #efefef;
    width: 60%;
    height: 80%;
    border-radius: 5px;
}

input{
    outline: none;
}
.campoTexto{
    padding: 10px;
    width: 90%;
    border-radius: 3px;
    border: solid 1px midnightblue;
}
.campoTexto:focus{
    border: solid 3px #567ba8;
}

.btn{
    border-radius: 3px;
    display: inline-block;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #002855;
    color: white;
    border: none;
    width: 80%;
}

.btn:hover{
    background-color: #0a3f7a;
    color: white;
}

.btn:active{
    background-color: #2b6cbb;
    color: white;
}


p.alinear{
    text-align: center;
}

a{
    color: #002855;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: #2b6cbb;
}

@media screen and (max-width: 700px){
    .contenedorPrincipal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: 100%;
        width: 100%;
        background-color: #A9D6E5;
    }

    .logo-aside{
        height: 200px;
        width: 200px;
    }

    p,a,input{
        font-size: medium;
    }

}