body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none
}

.header{
    display: flex;
    background-color: #273f63;
    justify-content: space-between;
    align-content: center;
}

.salir{
    background-color: #0d47a1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#38b6ff;
    text-align: center;
    font-size: 20px;
    padding: 3% 5%;
}

.salir:hover{
    color: white;
}

.logo{
    width: 10%;
}

.content{
    margin: 5%;
    display: flex;
    flex-flow: wrap;
    text-align: center;
}

.a{
    justify-content: space-between;
}

.b{
    justify-content: space-evenly;
}

.c{
    justify-content: center;
}

img{
    width: 100%;
}

.ícono{
    display: flex;
    background-color: #002855;
    width: 8%;
    padding: 5%;
    border-radius: 20%;
    align-content: center;
    justify-content: center;

}

.imgIcon{
    font-size: 100px;
    color: white;
}

.imgIcon:hover{
    color:#0d47a1;
}

.txtIcon{
    text-align: center;
    font-family: "Century Gothic", Calibri;
    color: white;
    font-weight: bold;
}

.txtIcon:hover{
    color: #0d47a1;
}

.footer{
    display: flex;
    justify-content: right;
    margin: 5%;
}

#bModo{
    background-color: #002855;
    color:#0d47a1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 1050px){
    .logo{
        width: 15%;
    }

    .ícono{
        margin: 2%;
    }

    .salir{
        padding: 4% 5%;
    }
}

@media screen and (max-width: 900px){
    .logo{
        width: 20%;
    }

    .ícono{
        width: 25%;
        border-radius: 20%;
    }
}

@media screen and (max-width: 500px){
    .logo{
        width: 25%;
    }

    .ícono{
        width: 35%;
    }

    .imgIcon{
        size: 80px;
    }
}